:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;

  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  mat-card-footer {
    padding: 5px;
  }

  .gif-img {
    max-height: 400px
  }
}
